<script type="text/javascript">
    $(document).ready(function () {
        load_course('@ViewBag.Code', 'Month');
    });
</script>
<div id="result">
    <div style="width: 100px; height: 100px;  margin:auto; margin-top: 25em;">
        <img src="~/Content/Images/loading.gif" />
    </div>
</div>