.calPost {
    margin-bottom: 20px !important;
}

.calPost:nth-last-child(1) {
    margin-bottom: 20px !important; display:none;
}

.calPost:nth-last-child(2) {
    margin-bottom: 20px !important; display:none;
}